body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(69, 227, 90, 1) 66%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  column-gap: 10px;
}
.container > input {
  height: 40px;
  width: 150px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.container > button {
  width: 100px;
  background-color: blueviolet;
  color: white;
  height: 50px;
  border-radius: 20px;
}
